meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Reserved
meta(name='description', content='Reserved Mobile App to Book Bottle Service at Nightclubs from your smartphone')
meta(name='viewport', content='width=device-width, initial-scale=1') 
link(rel='stylesheet', href='css/app.css')